<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <ul>
            <li class="nav-first"><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li class="nav-login"><a href="">Login</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <h2>Coffeebrain Demo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic voluptatibus nesciunt cupiditate, accusantium repellat sint, esse quo eos sequi quod quos voluptatem ipsum velit ab vel, tempore odio quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt mollitia odio incidunt doloribus dicta velit sit dolor commodi. Rerum ab delectus corporis consequatur sint consequuntur magni, iusto eligendi accusamus id! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis eligendi ab dolorum quisquam! Iusto aperiam laudantium, cum consequatur, tempora, nam dolor beatae laborum fugit iste accusamus cumque non dolore pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias temporibus repellendus quos natus commodi! Dolorum ipsam, eum similique voluptas deleniti illo eligendi officiis deserunt dolorem tempore ad voluptatibus, quas recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio non accusamus rerum! Totam facilis adipisci deserunt porro, eos saepe vel sequi aperiam illo? Laudantium dignissimos quam perspiciatis nostrum odio. Nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam enim magnam odit aliquid. Soluta qui repudiandae quo aspernatur animi vero, ratione eaque asperiores autem magni quod deserunt maxime, aliquid corporis!</p>

        <img src="/static/images/coffee.jpg" alt="Image of Coffee">
    </div>

</body>
</html>